<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up for a new account</title>
</head>
<body bgcolor="lightgrey">
    <h2>Create an account</h2>
    <form action="/welcome/" method="POST">
    	<label for="user"><strong>Username: </strong></label>
    	<br>
    	<input type="text" name="username" value="{{ user }}" placeholder="Input your username here......" id="user" required>
    	<br><br>
    	<label for="email"><strong>Email Address: </strong></label>
    	<br>
    	<input type="text" name="email" value="{{ email }}" placeholder="Input your Email address here......" id="email_id" required>
    	<br><br>
    	<label for="pass"><strong>Password: </strong></label>
    	<br>
    	<input type="password" name="password" placeholder="Input your password here......" id="pass" required>
    	{% for error in errors %}
    		<p><strong>{{ error }}</strong></p>
		{% endfor %}
    	<br>
    	<input type="submit" value="Signup">
</body>
</html>